<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicGourmet"
        tools:targetApi="31">

        <!-- Atividad Principal -->
        <activity
            android:name=".controller.ControladorPrincipal"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MagicGourmet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".controller.ControladorAdminComentario"/>
        <activity android:name=".controller.ControladorAdminIngrediente"/>
        <activity android:name=".controller.ControladorAdminReceta"/>
        <activity android:name=".controller.ControladorAdminUsuario"/>
        <activity android:name=".controller.ControladorAgregarFavorito"/>
        <activity android:name=".controller.ControladorAnadirFiltro"/>
        <activity android:name=".controller.ControladorAnadirIngrediente"/>
        <activity android:name=".controller.ControladorAnadirReceta"/>
        <activity android:name=".controller.ControladorBuscarReceta"/>
        <activity android:name=".controller.ControladorControlAcceso"/>
        <activity android:name=".controller.ControladorEditarReceta"/>
        <activity android:name=".controller.ControladorElimComentario"/>
        <activity android:name=".controller.ControladorElimFavorito"/>
        <activity android:name=".controller.ControladorElimFiltro"/>
        <activity android:name=".controller.ControladorElimIngrediente"/>
        <activity android:name=".controller.ControladorElimReceta"/>
        <activity android:name=".controller.ControladorElimUsuario"/>
        <activity android:name=".controller.ControladorGestFavorito"/>
        <activity android:name=".controller.ControladorGestComentario"/>
        <activity android:name=".controller.ControladorIngresarComentario"/>
        <activity android:name=".controller.ControladorModUsuario"/>
        <activity android:name=".controller.ControladorRecetaVisualizada"/>
        <activity android:name=".controller.ControladorSelecFiltros"/>
        <activity android:name=".controller.ControladorSelecIngredientes"/>
        <activity android:name=".controller.ControladorVisFavorito"/>
        <activity android:name=".controller.ControladorPerfilUsuario"/>
        <activity android:name=".controller.ControladorAutoRegistro"/>




    </application>

</manifest>